        <!-- DOWNLOAD -->
        <section id="download">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="row">
                        
                            <div class="col-lg-4 col-md-4 col-sm-3">
                                <img class="img-responsive" src="images/thedirtyneinlogo.png" alt="">
                            </div>
                            
                            <div class="col-lg-8 col-md-8 col-sm-9">
                                <h3>Official Tech Guide</h3>
                                <p>Get all the race details with our official tech guide.</p>
                                <a class="button button-small button-line-dark" href="/docs/2019-Dirty-Nein-Tech-Guide-V1.6.pdf" target=_blank>download pdf</a>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
