{{- $schedule := .Site.Params.ScheduleInfo }}

        <section id="schedule">
            <div class="container">
                <div class="row">
                
                    <div class="col-lg-12">
                    
                        <h2 class="uppercase">{{ $schedule.title }}</h2>
                        <p class="lead"></p>
                        
                        <!-- SCHEDULE TAB -->
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#day1" id="day1-tab" role="tab" data-toggle="tab" aria-controls="day1" aria-expanded="true">{ $schedule.day }}</a></li>
                        </ul>
                        
                        <!-- CONTENT -->    
                        <div id="myTabContent" class="tab-content">
                            
                            <!-- DAY 1 -->
                            <div role="tabpanel" class="tab-pane fade active in" id="day1" aria-labelledby="day1-tab">
                                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

                                    <!-- PROGRAM 1-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading1">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">07.30</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule1" aria-expanded="true" aria-controls="schedule1">
                                                       Registration Opens
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'>Race Length</span>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="Program1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                        
                                        </div>
                                    
                                    </div>
                                    
                                    <!-- PROGRAM 2-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading2">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">09.00</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule2" aria-expanded="true" aria-controls="schedule2">
                                                       Youth A/B
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i>40mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">

                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
                                                    	

														<ul>
                                                        <li>Category Includes all Peewee, Minime, and Cadet Riders</li>
                                                        <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
														<li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
														<li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
														</ul>                                                     
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                    
                                    <!-- PROGRAM 2B-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading2">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">09.01</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule2b" aria-expanded="true" aria-controls="schedule2b">
                                                       Youth C/D
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i>30mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule2b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">

                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
                                                    	

														<ul>
                                                        <li>Category Includes all Citizen and Squirt Riders</li>
                                                        <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
														<li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
														<li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
														</ul>                                                     
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                    
                                    <!-- PROGRAM 3-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading3">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">10.00</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule3" aria-expanded="true" aria-controls="schedule3">
                                                       Sport/Export Men
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i> 40mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
                                                    	<ul>
                                                        <li>Category Includes all Master Sport Men 30-39, 40-49, 50-59, 60+, Senior Sport Men, Citizen Men Riders</li>
                                                        <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
														<li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
														<li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
														</ul> 
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                    
                                    <!-- PROGRAM 4-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading4">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">11.00</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule4" aria-expanded="true" aria-controls="schedule4">
                                                        Sport/Expert Women
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i> 40mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
                                                    	<ul>
                                                        <li>Category Includes Master Sport Women 30-39, 40-49, 50+, Senior Sport Women, Citizen Women Riders</li>
                                                        <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
														<li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
														<li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
														</ul> 
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                    
                                    <!-- PROGRAM 5a-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading5">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">12.05</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule5a" aria-expanded="true" aria-controls="schedule5a">
                                                       Kids Race
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i> 15mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule5a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
	                                                    <ul>
                                                            <li>Category includes all non-OCA kids, helmets required</li>
                                                            <li>Course will be a shorted lap or one lap of the course depending on timing</li>
                                                        </ul> 
													</div>
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>

                                    <!-- PROGRAM 5-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading5">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">12.30</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule5" aria-expanded="true" aria-controls="schedule5">
                                                       Junior Men
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i> 45mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
	                                                    <ul>
                                                            <li>Category Includes  Junior Sport Men, Junior Expert Men</li>
                                                            <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
                                                            <li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
                                                            <li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
                                                        </ul> 
													</div>
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>

                                    <!-- PROGRAM 5b-->
                                    <div class="panel panel-default">
                                    
                                        <!-- Program Heading -->
                                        <div class="panel-heading" role="tab" id="heading5">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">12.31</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule5b" aria-expanded="true" aria-controls="schedule5b">
                                                       CX/Fatbike/Single Speed
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i> 45mins</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule5b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                            <!-- Program Content -->
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
	                                                    <ul>
                                                            <li>Category Includes CX bikes, Fatbikes, and single speed MTB's</li>
                                                            <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
                                                            <li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
                                                            <li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
                                                        </ul> 
													</div>
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>

                                    <!-- PROGRAM 6-->
                                    <div class="panel panel-default">
                                    
                                        <div class="panel-heading" role="tab" id="heading6">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">Moved to 11:00</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule6" aria-expanded="true" aria-controls="schedule6">
                                                            Junior Women/Expert Women (Combined with Sport Women at 11am)
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
	                                                    <ul>
                                                            <li>Category Includes Junior Sport Women, Junior Expert Women and Master Expert Women 30-39, 40-49, 50+, Senior Expert Women</li>
	                                                        <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
															<li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
															<li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
														</ul>
													</div> 	
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>

                                    <!-- PROGRAM 7-->
                                    <div class="panel panel-default">
                                    
                                        <div class="panel-heading" role="tab" id="heading7">
                                           
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                <p class="date">Moved to 10:00</p>
                                                </div>
                                                
                                                <div class="col-lg-8 col-md-8 col-sm-8">
                                                    
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#schedule7" aria-expanded="true" aria-controls="schedule7">
                                                       Expert Men (Combined with Sport Men 10am)
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                    <span class='pull-right'><i class="fa fa-lg fa-clock-o"></i></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                        <div id="schedule7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                    </div>
                                                    <div class="col-lg-7 col-md-7 col-sm-10">
	                                                    <ul>
                                                            <li>Category Includes Master Expert Men 30-39, 40-49, 50+, Senior Expert Men</li>
	                                                        <li>SIGN ON CLOSES 30 MINS PRIOR TO THE NEXT RACE. DAY-OF REGISTRATION CLOSES 45 MINS PRIOR. NO EXCEPTIONS.</li>
															<li>Estimated Finish time is an estimate for last rider across the line if they are 10 mins behind the leader (however, all lapped riders finish on the same lap as the leader)</li>
															<li>Podium presentations will be held approximately 15 mins after the end of the race when the finish results have been finalized by the Chief Commissaire.</li>
														</ul> 
													</div>
                                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                    
                                    </div>

                                    
                                    </div>
                                
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </section>
