<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="uppercase">sponsors</h2>
                <p class="lead">Thanks to our awesome sponsors.</p>
                
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                Powered by <a href="https://www.kwcyclingacademy.com/" target=_blank>
                            <img class="img-responsive" src="images/kwca_logo.png" alt="KWCA">
                        </a>
                        <br><br>
                    </div>
                </div>

                <div id="sponsors-carousel">
                    
                    <div class="sponsor">
                        <a href="http://waterloocyclingclub.ca" target=_blank>
                            <img class="img-responsive" src="images/wcc_logo.png" alt="KWCA">
                        </a>
                    </div>
                    
                    <div class="sponsor">
                        <a href="http://eastsidecycle.com/" target=_blank>
                            <img class="img-responsive" src="images/eastsidelogo.png" alt="EastSide">
                        </a>
                    </div>
                    
                     <div class="sponsor">
                        <a href="https://kingstreetcycles.com/" target=_blank>
                            <img class="img-responsive" src="images/king_street_cycles.png" alt="King Street Cycles">
                        </a>
                    </div>

                     <div class="sponsor">
                        <a href="https://www.ziggyscycle.ca/" target=_blank>
                            <img class="img-responsive" src="images/ziggys.png" alt="Ziggys Cycle">
                        </a>
                    </div>

                </div>

                <div id="sponsors-carousel2">

                    <div class="sponsor">
                        <a href="https://www.waterloo.ca/" target=_blank>
                            <img class="img-responsive" src="images/citywaterloo_logo.jpg" alt="City of Waterloo">
                        </a>
                    </div>

                     <div class="sponsor">
                        <a href="http://www.hubbicycleshop.com//" target=_blank>
                            <img class="img-responsive" src="images/thehub.png" alt="The Hub Bike Shop">
                        </a>
                    </div>

                    <div class="sponsor">
                        <a href="http://www.speedprolondon.com/" target=_blank>
                            <img class="img-responsive" src="images/speedprolondonlogo.png" alt="SpeedPro London"> (London)
                        </a>
                    </div>
                    
                    <div class="sponsor">
                        <a href="http://www.mcphailscycle.com/" target=_blank>
                            <img class="img-responsive" src="images/mcphails.jpg" alt="McPhails Cycle">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-lg-offset-3 text-center">
                        <a href="http://https://pedalpowerphotography.ca/" target=_blank>
                            <img class="img-responsive" src="images/pedalpowerphotologo.png" alt="Velofix">
                        </a>
                    </div>

                    <div class="col-lg-3 text-center">
                        <a href="http://advguide.com/" target=_blank>
                            <img class="img-responsive" src="images/adv_guide.png" alt="Adventure Guide">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
