<section id="venue">
        
    <div class="venue">
        <div class="venue-inner">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <h2 class="uppercase">Course</h2>
                        <p class="lead">
                        Using the UCI short track format, the course is a mix of grass, single and double track, hills, log rolls, and jumps. The intended course length will be 2.0km.</p>
                        <h4>Course Map</h4>
                        *Course subject to change based on race day conditions and opinion of race organizers/commissaries.
                        <img class="img-responsive" src="images/course_map_2019_2.png" alt="course">
                        
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="pe-4x pe-7s-map-2"></i>
                        <h4 class="uppercase">address</h4>
                        <p>Bechtel Park<br>
                            185 Bridge St W<br> 
                            Waterloo, ON<br>
                            
                        </p>
                        
                        <a class="button button-xsmall button-line-light" href="https://www.waterloo.ca/en/things-to-do/bechtel-park.aspx" target=_blank>more information</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p>
                        <h2 class="uppercase">Start/Finish</h2>
                        <p class="lead">
                        Riders will corral 500m from the finish line and ride the start loop before getting on course. The tent area is off-course located by the parking lot. The mechanical zone and feedzone are after the finish line and located on the first climb on course.</p>
                    </div>
                        <div></div>
                </div>
        </div>
        </div>
    </div>
    
</section>
